@import "~styles/theme.scss";

.stat-card {
    width: min(100%, 14rem);
    height: min-content;
    display: grid;
    grid: repeat(2, min-content) / max-content 1fr;
    grid-template-areas:
        "icon title"
        "icon content";
    gap: $spacing-xs $spacing-sm;
    align-items: center;

    :nth-child(1) {
        grid-area: icon;
    }

    :nth-child(2) {
        grid-area: title;
    }

    :nth-child(3) {
        grid-area: content;
    }
}
