@import "~styles/theme.scss";
@import "~styles/utils.scss";

.phosphor-icon {
    display: block;
    color: $color-primary;
    font-size: $icon-primary;

    &-- {
        &big-size {
            font-size: $icon-secondary;
        }

        @each $i in $theme-color {
            &color-#{$i} {
                color: get-theme-color($i);
            }
        }
    }
}
