@import "~styles/theme.scss";

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.scroll-to-top-button {
    width: max-content;
    height: min-content;
    padding: $spacing-xs;
    border: $border-size solid $color-brand;
    border-radius: 100%;
    position: fixed;
    z-index: 5;
    inset: auto 3% 5% auto;
    background-color: $color-dark-glass;
    backdrop-filter: blur($blur);
    cursor: pointer;
    transition: transform $time ease-in-out;
    animation: fadeIn $time ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    @media (width >= $breakpoint-md) {
        right: 6%;
    }
}
